@page "/"

<h1>Hello, world!</h1>

    Welcome to your new app.
<Button Type="primary" OnClick="testc">Hello World!</Button>
@code{
    public void testc()
    {
        MainLayout.Loading = !MainLayout.Loading;
    }
}