@namespace AntDesign.Pro.Template.Pages.Exception
@page "/exception/500"
@inject NavigationManager NavigationManager
@layout EmptyLayout

<Result Status="500"
        Title="500"
        SubTitle="抱歉，您访问的页面不存在。">
    <Extra>
        <Button Type="primary" OnClick="BackHome">回到首页</Button>
    </Extra>
</Result>

@{
    void BackHome()
    {
        NavigationManager.NavigateTo("/");
    }

}