
@{
    if(Config.Structure?.Footer == null)
    {
        <Footer Style="@Style">
            <Text>Caviar ©2021 Created by 北音执念</Text><br>
            <Text>Powered By </Text><a target="_blank" href="https://github.com/ant-design-blazor/ant-design-blazor">Ant Design Blazor</a><br>
            <a target="_blank" href="https://beian.miit.gov.cn/">蒙ICP备2022001340号</a>
        </Footer>
    }
    else
    {
        @Config.Structure.Footer
    }
}


