<Menu OnMenuItemClicked="SelectLanguage" SelectedKeys="new string[1] { LanguageService.CurrentCulture.Name}">
    @foreach(var item in LanguageList)
    {
        if(!CurrencyConstant.LanguageDic.TryGetValue(item.CultureName,out string value))
        {
            value = item.CultureName;
        }
        <MenuItem Key="@item.CultureName">
            <a>
                @value
            </a>
        </MenuItem>
    }
</Menu>
