<Menu>
    <MenuItem @key="0" OnClick="UserCenter">
        <a>
            个人中心
        </a>
    </MenuItem>
    <MenuItem @key="1" OnClick="ChangePassword">
        <a>
            修改密码
        </a>
    </MenuItem>
    <MenuDivider />
    <MenuItem @key="3" OnClick="Logout">
        退出登录
    </MenuItem>
</Menu>
@code {
    [Inject]
    IJSRuntime jSRuntime { get; set; }
    [Inject]
    NavigationManager navigationManager { get; set; }
    [Inject]
    HttpHelper Http { get; set; }
    [Inject]
    MessageService messageService { get; set; }
    [Inject]
    CavModal CavModal { get; set; }
    [Inject]
    AuthService AuthService { get; set; }

    public void UserCenter()
    {
        navigationManager.NavigateTo(Config.PathList.MyDetails);
    }

    public async void ChangePassword()
    {
        await CavModal.Create(Config.PathList.UpdatePwd, "修改密码");
    }

    public async Task Logout()
    {
        await AuthService.Logout();
        navigationManager.NavigateTo(Config.PathList.LoginPagePath);
    }
}
