<Menu>
    <MenuItem OnClick="UserCenter">
        <a>
            @UserConfig.LanguageService[$"{CurrencyConstant.Page}.{CurrencyConstant.PersonalCenter}"]
        </a>
    </MenuItem>
    <MenuItem OnClick="()=>NavigationManager.NavigateTo(UrlConfig.LayoutSettings)">
        <a>
            @UserConfig.LanguageService[$"{CurrencyConstant.Page}.{CurrencyConstant.LayoutSettings}"]
        </a>
    </MenuItem>
    <MenuItem OnClick="ChangePassword">
        <a>
            @UserConfig.LanguageService[$"{CurrencyConstant.Page}.{CurrencyConstant.ChangePassword}"]
        </a>
    </MenuItem>
    <MenuDivider />
    <MenuItem OnClick="BeginSignOut">
        @UserConfig.LanguageService[$"{CurrencyConstant.Page}.{CurrencyConstant.Logout}"]
    </MenuItem>
</Menu>
@code {
    [Inject]
    UserConfig UserConfig{ get; set; }

    [Inject]
    IJSRuntime JSRuntime { get; set; }
    [Inject]
    HttpService Http { get; set; }
    [Inject]
    MessageService messageService { get; set; }
    [Inject]
    CavModal CavModal { get; set; }

    [Inject] 
    NavigationManager NavigationManager { get; set; }

    [Inject] HostAuthenticationStateProvider AuthStateProvider { get; set; }
    public void UserCenter()
    {
        NavigationManager.NavigateTo(UrlConfig.MyDetails);
    }

    public async void ChangePassword()
    {
        CavModalOptions options = new CavModalOptions()
        {
            Url = UrlConfig.ChangePassword,
            Title = UserConfig.LanguageService[$"{CurrencyConstant.Page}.ChangePassword"]
        };
        await CavModal.Create(options);
    }

    private async Task BeginSignOut()
    {
        var result = await AuthStateProvider.Logout();
        NavigationManager.NavigateTo(JSRuntime, result);
    }
}
