<Menu>
    <MenuItem @key="0" OnClick="UserCenter">
        <a>
            个人中心
        </a>
    </MenuItem>
    <MenuItem @key="1" OnClick="ChangePassword">
        <a>
            修改密码
        </a>
    </MenuItem>
    <MenuDivider />
    <MenuItem @key="3" OnClick="BeginSignOut">
        退出登录
    </MenuItem>
</Menu>
@code {
    [Inject]
    IJSRuntime jSRuntime { get; set; }
    [Inject]
    HttpHelper Http { get; set; }
    [Inject]
    MessageService messageService { get; set; }
    [Inject]
    CavModal CavModal { get; set; }

    [Inject] NavigationManager Navigation { get; set; }
    [Inject] HostAuthenticationStateProvider AuthStateProvider { get; set; }
    public void UserCenter()
    {
        Navigation.NavigateTo(Config.PathList.MyDetails);
    }

    public async void ChangePassword()
    {
        await CavModal.Create(Config.PathList.UpdatePwd, "修改密码");
    }

    private async Task BeginSignOut()
    {
        var result = await AuthStateProvider.Logout();
        if (!string.IsNullOrEmpty(result))
        {
            Navigation.NavigateTo(Config.PathList.Logout, forceLoad: true);
        }
        else
        {
            Navigation.NavigateTo(Config.PathList.Home);
        }
    }
}
