<Menu SelectedKeys="new string[1] { Runtime }">
    <MenuItem Key="Server" OnClick="SwithServer">
        <a>
            Server
        </a>
    </MenuItem>
    <MenuItem Key="Wasm" OnClick="SwithWasm">
        <a>
            Wasm
        </a>
    </MenuItem>
</Menu>
