

<InputGroup Compact>
    <SimpleSelect Placeholder="请选择查询的字段" Style="width: 50%;" @bind-Value="QueryModel.Key" OnSelectedItemChanged="OnSelectedItemChanged">
        <SelectOptions>
            @if (Fields != null)
            {
                foreach (var item in Fields)
                {
                    if (item.IsPermission && item.Entity.IsPanel && item.EntityType.ToLower() == "string")
                    {
                        <SimpleSelectOption Value="@item.Entity.FieldName" Label="@item.DisplayName"></SimpleSelectOption>
                    }
                }
            }
        </SelectOptions>
    </SimpleSelect>
@*    @{
        var entityType = SelectField?.EntityType.ToLower();
        switch (entityType)
        {
            case "string":
                QueryModel.QuerTypes = QueryModel.QuerType.Contains;
                <Input TValue="string" @bind-Value="QueryModel.Value" Placeholder="请输入想要搜索的内容"/>
                break;
            default:
                QueryModel.QuerTypes = QueryModel.QuerType.Equal;
                <Input TValue="string" @bind-Value="QueryModel.Value" Placeholder="请输入想要搜索的内容"/>
                break;
        }
    }*@
    <Input TValue="string" @bind-Value="QueryModel.Value" Placeholder="请输入想要搜索的内容"/>
    <Button OnClick="OnSearch" Type="@ButtonType.Primary">搜索</Button>
</InputGroup>