@page "/"

<div>
    <Row>
        <Col>
        <Card Bordered="true" Title=@("框架简介") Hoverable="true">
            <Body>
                <Text>Caviar(鱼子酱)框架创建于2021年2月3日</Text><br>
                <Text>采用了：Blazor + Ant Design + .NET 5</Text>
                <Text>
                    本框架使用简洁架构，以Entity为中心，采用了大量的反射，
                    主要目的就是获取到更多的信息，来让框架做更多的事情，改动一个地方，需要修改的地方框架会进行自动调整，
                    框架风格统一，不缺乏灵活，很多地方给出了明确的建议。
                </Text><br>
            </Body>
        </Card>
        </Col>
        <Col>
        <Card Bordered="true" Title=@("已有功能") Hoverable="true" Style="margin-top:10px;height:260px">
            <Body>
                <Text>√基础：用户、部门、角色、菜单、日志、附件</Text><br>
                <Text>√字段权限、菜单权限、按钮权限、api访问控制</Text><br>
                <Text>√代码一键生成</Text><br>
                <Text>√Wasm模式</Text><br>
                <Text>√SqlServer数据库</Text><br>
                <Text>√高级模糊搜索</Text><br>
                <Text>√主题任意切换</Text><br>
            </Body>
        </Card>
        </Col>
        <Col>
        <Card Bordered="true" Title=@("待添加功能") Hoverable="true" Style="margin-top:10px;margin-left:10px;height:260px">
            <Body>
                <Text>Server模式</Text><br>
                <Text>其他数据库</Text><br>
                <Text>Rides缓存</Text><br>
                <Text>任务调度</Text><br>
                <Text>其他语言支持</Text><br>
            </Body>
        </Card>
        </Col>
        <Col>
        <Card Bordered="true" Title=@("其他资源") Hoverable="true" Style="margin-top:10px;margin-left:10px;height:260px">
            <Body>
                <Text>前端框架：</Text><a target="_blank" href="https://ant-design-blazor.gitee.io/zh-CN/components/overview">Ant Design Blazor</a><br>
                <Text>开源地址：</Text><a href="https://gitee.com/Cherryblossoms/caviar" target="_blank">Gitee</a><br>
                <Text>开源地址：</Text><a href="https://github.com/BeiYinZhiNian/Caviar" target="_blank">GitHub</a><br>
                <Text>项目文档：正在编辑</Text>
            </Body>
        </Card>
        </Col>
    </Row>

</div>
<div style="margin-top:30px">
    <Timeline Mode="alternate">
        <TimelineItem>2021年2月3日 Caviar(鱼子酱)项目创建</TimelineItem>
    </Timeline>
</div>

@code
{
    RenderFragment star =@<Icon Type="star" />;
RenderFragment fork =@<Icon Type="fork" />;
RenderFragment eye =@<Icon Type="eye" />;
RenderFragment issues =@<Icon Type="issues-close" />;
RenderFragment GiteeTitle =@<a href="https://gitee.com/Cherryblossoms/caviar" target="_blank">Gitee</a>;
RenderFragment GitHubTitle =@<a href="https://github.com/BeiYinZhiNian/Caviar" target="_blank">GitHub</a>;
}
