@page "/"
<Card Bordered="true" Title=@("框架简介") Hoverable="true">
    <Body>
        <Text>Caviar(鱼子酱)框架创建于2021年2月3日</Text><br>
        <Text>采用了：Blazor + Ant Design + .NET 5</Text>
        <Text>
            本框架使用简洁架构，包含了后台管理基础功能，在开发上为了方便，封装了很多Ant Design组件，包含了自动列表、
            高级搜索、自动化菜单、布局等。在代码生成上做到了100%的代码隔离，有修改，重新代码生成，不会对开发者有任何影响，并且不会降低开发的灵活性。
            在权限设计上，可以控制任意一个字段、菜单、按钮、api、甚至是元素。
            在外观上，界面风格统一，做了很多兼容，包括手机端，可以在手机端也有较好的体验。
            但是框架还是在一个比较初级的阶段，很多功能不完善，下一阶段主要会致力于代码整理和文档的编写,希望大家可以多多参与和使用，感谢。
        </Text><br>
    </Body>
</Card>
<Space Size=@(("8", "8")) Wrap>
    <SpaceItem>
        <Card Bordered="true" Title=@("已有功能") Hoverable="true">
            <Body>
                <Text>√基础：用户、部门、角色、菜单、日志、附件</Text><br>
                <Text>√字段权限、菜单权限、按钮权限、api访问控制</Text><br>
                <Text>√代码一键生成</Text><br>
                <Text>√Wasm模式</Text><br>
                <Text>√SqlServer数据库</Text><br>
                <Text>√高级模糊搜索</Text><br>
                <Text>√主题任意切换</Text><br>
            </Body>
        </Card>
    </SpaceItem>
    <SpaceItem>
        <Card Bordered="true" Title=@("待添加功能") Hoverable="true" Style="height:260px">
            <Body>
                <Text>Server模式</Text><br>
                <Text>其他数据库</Text><br>
                <Text>Rides缓存</Text><br>
                <Text>任务调度</Text><br>
                <Text>其他语言支持</Text><br>
                <Text>网站配置</Text><br>
            </Body>
        </Card>
    </SpaceItem>
    <SpaceItem>
        <Card Bordered="true" Title=@("资源") Hoverable="true" Style="height:260px">
            <Body>
                <Text>前端框架：</Text><a target="_blank" href="https://ant-design-blazor.gitee.io/zh-CN/components/overview">Ant Design Blazor</a><br>
                <Text>开源地址：</Text><a href="https://gitee.com/Cherryblossoms/caviar" target="_blank">Gitee</a><br>
                <Text>开源地址：</Text><a href="https://github.com/BeiYinZhiNian/Caviar" target="_blank">GitHub</a><br>
                <Text>项目文档：正在编辑</Text>
            </Body>
        </Card>
    </SpaceItem>
</Space>

<div style="margin-top:30px">
    <Timeline Mode="alternate">
        <TimelineItem>2021年2月3日 Caviar(鱼子酱)项目创建</TimelineItem>
    </Timeline>
</div>

@code
{
    RenderFragment star =@<Icon Type="star" />;
RenderFragment fork =@<Icon Type="fork" />;
RenderFragment eye =@<Icon Type="eye" />;
RenderFragment issues =@<Icon Type="issues-close" />;
RenderFragment GiteeTitle =@<a href="https://gitee.com/Cherryblossoms/caviar" target="_blank">Gitee</a>;
RenderFragment GitHubTitle =@<a href="https://github.com/BeiYinZhiNian/Caviar" target="_blank">GitHub</a>;
}
