<Breadcrumb>
    <BreadcrumbItem>
        <a href="/">@_homeTitle</a>
    </BreadcrumbItem>
    @if (BreadcrumbItemArr != null)
    {
        @foreach (var item in BreadcrumbItemArr)
        {
            <BreadcrumbItem>
                @item
            </BreadcrumbItem>
        }

    }

</Breadcrumb>