<Dropdown Placement="@PlacementType.BottomCenter">
    <Overlay>
        <Menu>
            <MenuItem @key="0">
                <a>
                    个人中心
                </a>
            </MenuItem>
            <MenuItem @key="1">
                <a>
                    设置
                </a>
            </MenuItem>
            <MenuItem @key="2">
                <a>
                    修改密码
                </a>
            </MenuItem>
            <MenuDivider />
            <MenuItem @key="3">
                退出登录
            </MenuItem>
        </Menu>
    </Overlay>
    <ChildContent>
        <Avatar Style="background-color: #87d068" Icon="user" />
    </ChildContent>
</Dropdown>