@page "/exception/404"
@inject NavigationManager NavigationManager
<Result Status="404"
        Title="404"
        SubTitle="@(NavigationManager.Uri + "\r\n抱歉，您访问的页面不存在。")">
    <Extra>
        <Button Type="primary" OnClick="BackHome">回到首页</Button>
    </Extra>
</Result>

@code{
    void BackHome()
    {
        NavigationManager.NavigateTo("/");
    }

}